name: learning-laravel
services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: ll_app
        working_dir: /var/www
        volumes:
            - './:/var/www'
        ports:
            - '9090:9000'
        networks:
            - backend
        environment:
            - COMPOSER_ALLOW_SUPERUSER=1
            - DB_CONNECTION=pgsql
            - DB_HOST=db
            - DB_PORT=5432
            - DB_DATABASE=laravel_db
            - DB_USERNAME=laravel_user
            - DB_PASSWORD=secret

    web:
        image: 'nginx:alpine'
        container_name: ll_server
        ports:
            - '8080:8000'
        volumes:
            - './:/var/www'
            - './nginx.conf:/etc/nginx/conf.d/default.conf'
        depends_on:
            - app
        networks:
            - backend

    db:
        image: 'postgres:17-alpine'
        container_name: ll_db
        environment:
            POSTGRES_DB: laravel_db
            POSTGRES_USER: laravel_user
            POSTGRES_PASSWORD: secret
        ports:
            - '5435:5432'
        volumes:
            - 'pgdata:/var/lib/postgresql/data'
        networks:
            - backend
#    db:
#        image: 'postgres:17-alpine'
#        container_name: ll_db
#        environment:
#            POSTGRES_DB: laravel_db
#            POSTGRES_USER: laravel_user
#            POSTGRES_PASSWORD: secret
#        ports:
#            - '5435:5432'
#        volumes:
#            - 'pgdata:/var/lib/postgresql/data'
#        networks:
#            - backend
#
#    pgsql:
#        image: 'postgres:18-alpine'
#        ports:
#            - '${FORWARD_DB_PORT:-5432}:5432'
#        environment:
#            PGPASSWORD: '${DB_PASSWORD:-secret}'
#            POSTGRES_DB: '${DB_DATABASE}'
#            POSTGRES_USER: '${DB_USERNAME}'
#            POSTGRES_PASSWORD: '${DB_PASSWORD:-secret}'
#        volumes:
#            - 'sail-pgsql:/var/lib/postgresql/data'
#            - './vendor/laravel/sail/database/pgsql/create-testing-database.sql:/docker-entrypoint-initdb.d/10-create-testing-database.sql'
#        networks:
#            - sail
#        healthcheck:
#            test:
#                - CMD
#                - pg_isready
#                - '-q'
#                - '-d'
#                - '${DB_DATABASE}'
#                - '-U'
#                - '${DB_USERNAME}'
#            retries: 3
#            timeout: 5s

volumes:
    pgdata:

networks:
    backend:
